ul.dogs>li.dog.dog$$*5
ul.dogs
	li.dog.dog01
	li.dog.dog02
	li.dog.dog03
	li.dog.dog04
	li.dog.dog05


.wrapper
	p.hello Hello! my name is #{name}
	span.pug PUG!
	img.Doggy(src="doggy.png" alt="Doggy")
	- const upColor = color.toUpperCase();
	p.color My favorite color is #{upColor}
	


h2
	| Hello 
	em How are
	h1 YOU!?